<div class="container">
    <h2>Edit Employee</h2>
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" id="nombre" class="form-control" formControlName="nombre">
      </div>
      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" id="apellido" class="form-control" formControlName="apellido">
      </div>
      <div class="mb-3">
        <label for="cargo" class="form-label">Cargo</label>
        <input type="text" id="cargo" class="form-control" formControlName="cargo">
      </div>
      <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="text" id="telefono" class="form-control" formControlName="telefono">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" class="form-control" formControlName="email">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-success" [disabled]="!employeeForm.valid">Update</button>
      </div>
    </form>
  </div>
  